{% extends 'insta_app/base.html' %}{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block extra_head %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'insta_app/css/progress.css' %}">
	<link rel="stylesheet" href="{% static 'insta_app/css/dark/dark.css' %}">
	<link rel="stylesheet" href="{% static 'insta_app/css/switch.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock %}
{% block body %}
<body style="background: white; font-size: 14px; line-height: 1.42857143; font-family: 'Rubik', 'Open Sans', sans-serif">
	<div style="width: 100%;">
		{% include 'accounts/include/messages/flash_messages.html' %}
	</div>
	{% include 'insta_app/include/parser_header.html' %}
	<br><br>
	<div class="container" style="border-radius: 10px; padding: 25px 20px; margin-bottom: 40px;">
		{% include 'insta_app/include/user_container.html' %}
	</div>
	<div class="container">
		<div class="aggregate-settings-container" style="box-sizing: border-box;">
			<div>
				{% include 'insta_app/include/user_progress.html' %}
			</div>
		</div>
	</div>
	{% if third_stage %}
		<div class="container container-center col-sm-12 col-12" style="text-align: center;">
			<div class="col-xs-10 col-sm-12 col-md-10 "
				 style="display: inline-block; border: 1px solid #808080; padding: 10px; border-radius: 10px;">
				<br>
				{% include 'insta_app/include/third_stage.html' %}
			</div>
		</div>
	{% else %}
		<div class="container container-center col-sm-12 col-12" style="text-align: center;">
			<form method="post" class="col-xs-10 col-sm-12 col-md-10 " style="display: inline-block; border: 1px solid #808080; padding: 10px; border-radius: 10px;">
				{%csrf_token%}
				<br>
				<h3 class="content_stage-title text-center" style="color: black;">Шаг 1: Настройте один тип сбора или же комбинацию из двух любых типов в одном</h3>
				<div class="col-xs-10 col-sm-10 col-md-10 row" style="margin: 0 auto; color: black;">
					{% include 'insta_app/include/forms/get_accounts.html' %}
				</div>
				<br>
				{% include 'insta_app/include/forms/get_by_competitors.html' %}
				{% include 'insta_app/include/forms/get_by_publish.html' %}
				<br><br>
				<input type="hidden" name="stage" value="2">
				<button class="btn btn-primary" type="submit" style="color: white;">
					Начать сбор
				</button>
			</form>
		</div>
	{% endif %}
	<br><br><br>
	{% include 'insta_app/include/dark_footer.html' %}
	<script
	  type="text/javascript"
	  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
	></script>
	<script src="{% static 'insta_app/js/jquery.js' %}"></script>
	<script src="{% static 'insta_app/js/orders.js' %}"></script>
</body>
{% endblock %}
