{% extends 'insta_app/base.html' %}{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block extra_head %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'insta_app/css/progress.css' %}">
	<link rel="stylesheet" href="{% static 'insta_app/css/dark/dark.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static 'insta_app/css/select.css' %}">
{% endblock %}
{% block body %}
<body style="background: white; font-family: 'Rubik', 'Open Sans', sans-serif; font-size: 14px; line-height: 1.42857143;">
	<div style="width: 100%;">
		{% include 'accounts/include/messages/flash_messages.html' %}
	</div>
	{% include 'insta_app/include/parser_header.html' %}
	<br><br>
	<div class="container row" style="margin: 0 auto;">
		<div class="col-12 col-sm-8 col-lg-8 col-xs-8 col-md-8"  style="box-sizing: border-box; background: white; padding: 20px; margin: 0 auto;
								border-radius: 10px;">
			<form method="POST">
			{%csrf_token%}
			<div class="content_stage" style="color: black; border: 1px solid #333; padding: 10px; border-radius: 10px;">
				<h3 class="content_stage-title content_stage-title-mb" style="text-align: center;">Пополните ваш баланс</h3>
				<div style="border: 1px solid white; border-radius: 10px; padding: 10px; color: black;">
				<div>
					<label class="checkbox__label">Количество баллов (1р. = 100 баллов):</label>
					<input type="number" name="amount"  step="1">
				</div>
				</div>
				<br><br>
				<div class="payment-w" style="text-align: center;">
					<button class="btn btn-primary btn-lg" type="submit" style=" width: 17em; margin-bottom: 2em; text-align: center;">Оплатить</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	<br><br><br>
	{% include 'insta_app/include/dark_footer.html' %}
</body>
{% endblock %}
