<form method="post" action="{% url 'accounts:login' %}">
	{% csrf_token %}
	<h1>Вход</h1>
	{% if login_form.email.errors %}
		<ol style="color: red;">
			{% for error in login_form.email.errors %}
				<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if login_form.password.errors %}
		<ol style="color: red;">
			{% for error in login_form.password.errors %}
				<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	<div class="group">
		<label for="user2" class="label">{{ login_form.email.label }}</label>
		{{ login_form.email }}
	</div>
	<div class="group">
		<label for="password" class="label">{{ login_form.password.label }}</label>
		{{ login_form.password }}
	</div>
	{% if next_page %}
		<input type="hidden" name="next" value="{{ next_page }}">
	{% endif %}
	<div class="group">
          <input type="submit" class="button" value="Войти">
	</div>
</form>
