<form action="{% url 'accounts:signup' %}" method="post">
	{% csrf_token %}
	<h1>Регистрация</h1>
	{% if signup_form.email.errors %}
		<ol style="color: red;">
			{% for error in signup_form.email.errors %}
				<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if signup_form.password1.errors %}
		<ol style="color: red;">
			{% for error in signup_form.password1.errors %}
				<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if signup_form.password2.errors %}
		<ol style="color: red;">
			{% for error in signup_form.password2.errors %}
				<li style="list-style-type: none;"><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	{% endif %}
	<div class="group">
		<label for="email2" class="label">{{ signup_form.email.label }}</label>
		{{ signup_form.email }}
	</div>
	<div class="group">
		<label for="password1" class="label">{{ signup_form.password1.label }}</label>
		{{ signup_form.password1 }}
	</div>
	<div class="group">
		<label for="password1" class="label">{{ signup_form.password2.label }}</label>
		{{ signup_form.password2 }}
	</div>
	{% if next_page %}
		<input type="hidden" name="next" value="{{ next_page }}">
	{% endif %}
	<div class="group">
          <input type="submit" class="button" value="Зарегистрироваться">
	</div>
</form>
