body,html{
    padding-right:0px !important;
    background: #f3f3f3;
}
html {
    overflow-x: hidden;
}
.container-color{
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.37);
}

header{
    text-align: center;
    width: 100%;
    background-size: cover;
    background-image: url("../img/header-background.jpg");
    background-position: center center;
    background-attachment:  fixed;
    color: #fff;
    padding: 180px 0 200px;
}
.navbar{
    width: 100%;

}
.navbar1{
    background: none;
    margin-top: 47px;
}
.fixed-top{
    -webkit-transition: all  0.5s ease-out;
    -moz-transition: all  0.5s ease-out;
    -o-transition: all  0.5s ease-out;
    transition: all  0.5s ease-out;
}
.navbar2{
    background: #270860;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    margin-top: unset;
}
h1,.asH1{
    padding-top: 80px;
    width: 100%;
    font-size: 64px;
}
.header-p{
    width: 100%;
    font-size: 29px;
    line-height: 34px;
    padding-top: 10px !important;
}
.header-btn{
    margin: 45px auto 0;
	line-height: 50px;
}
.center-btn{
    margin: 0 auto 0;
	line-height: 50px;
}
.laner-header{
    background: #fff;
    margin: 10px auto 25px;
    display: inline-block;
    width: 90px;
   height: 3px;
}
.btn-danger:not(.native-style){
    text-transform: uppercase;
    height: 50px;
    padding: 0 40px;
    border-radius: 4px;
    font-size: 18px;
    background: #1071B7;
    border-color: #2BD08A;
}
.navbar-brand{
    font-size: 25px;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-nav > .nav-item > .nav-link{
    font-size: 17px;
    padding: 5px 17px 2px;
    color: #fff;
}
.navbar-nav > .nav-item > .nav-link:hover{
    opacity: 0.8;
}
.navbar-nav{
    margin-left: 120px;
}
.nav-a{
    font-size: 20px;
    color: #fff;
    margin: 0 7px;
    padding: 4px 10px 3px;
    background: none;
    float: right;
}
.nav-a-left{
    margin-left: 100px;
}
.nav-a-border{
    border: 2px solid #fff;
    border-radius: 4px;
}
.nav-a-border:hover{
    background: #fff;
    color: #000;
}

.animated{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}
.animated2{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
}
@keyframes pulse {
    0% {
        transform: translateY(-100%);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0px);
        left: 0px;
        opacity: 1;
    }

}
h3{
    font-size: 40px;
    width: 100%;
    text-align: center;

}
.container-pading{
    padding: 65px 0 50px;
}
.lainer{
    background: #00c046;
    margin: 0 auto 15px;
    display: inline-block;
    width: 50px;
    height: 3px;
}
.h-p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 0 0 65px;
}
.row-center{
    text-align: center;
}
.row-center-p{
    display: inline-block;
    width: 250px;
    padding-bottom: 25px;
    font-size: 21px;
    line-height: 23px;
}
.row-center-p span{
    color: #D02C2B;
}
.bottom-p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.bottom-p span{
    color: #D02C2B;
}
.media{
    width: 100%;
    background: #fff;
    margin: 15px 50px;
    border-radius: 5px;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
}
h4{
    font-size: 24px;
    margin-bottom: 0;
}
h4 span{
    color: #00c046;
}
.carousel{
    width: 100%;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 35px 5px;
    margin: 5px 50px;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.9;
}
.lef{
    width: 20px;
    left: -30px;
}
.rd{
    width: 20px;
}
h5{
    font-size: 22px;
    padding: 15px 0;
}
.carousel-p{
    padding: 10px 110px;
    font-size: 16px;
}
.block-cart{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #d8dad8;

}
.block-cart:hover{
    border: 2px solid #00c046;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
}
.block-cart-active{
    border: 2px solid #00c046;
    box-shadow:none;
    -webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.81);
}
.block-cart-top{
    min-height: 80px;
    font-size: 22px;
    line-height: 23px;
    padding: 25px 0 15px;
    border-bottom: 1px solid #DAD8DA ;
    background: #00c046;
    border-radius: 5px 5px 0 0;
    color: #fff;
    vertical-align: middle;
}
.block-cart-h{
    font-size: 40px;
    color: #00c046;
    padding: 65px 0 25px;
}
.block-cart-p{
    padding-bottom: 15px;
    font-size: 18px;
}
.btn-cart{
    width: 230px;
    margin-bottom: 20px;
    border-radius:4px ;
    font-size: 16px;
    background: #D02C2B;
    border-color: #D02C2B;
    color: #fff;
    height: 55px;
	line-height: 40px;
}
.row-money{
    text-align: center;
    padding: 0;
}
.icon-money {
    width: 32px;
}

footer{
    text-align: center;
    padding: 25px 0 0;
    color: #fff;
    background: #4055fe;
}

.footer-h{
    width: 100%;
    font-size: 20px;
    margin-bottom: 8px;
}
.footer-p{
    width: 100%;
    font-size: 16px;
}
.row-center-icon{
    width: 140px;
}
/*======================================media==============================================================*/
@media (min-width: 992px) and (max-width: 1200px) {
    header{
        padding:90px 0 90px 0;
    }
    .ihone{
        background-image: url("../img/header-background.jpg");
    }
    h1,.asH1{
        padding-top: 70px;
        width: 100%;
        font-size: 56px;
    }
    .header-p{
        font-size: 25px;
        line-height: 31px;
    }
    .header-btn{
        margin: 45px auto 0;
    }
    .laner-header{
        margin: 10px auto 25px;
        width: 90px;
        height: 3px;
    }
    .btn-danger{
        height: 45px;
        padding: 0 40px;
        border-radius: 4px;
        font-size: 16px;
    }
    .navbar-brand{
        font-size: 23px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 16px;
        padding: 5px 13px 2px;
    }
    .navbar-nav{
        margin-left: 40px;
    }
    .nav-a{
        font-size: 18px;
        margin: 0 7px;
        padding: 4px 10px 3px;
    }
    .nav-a-left{
        margin-left: 50px;
    }
    h3{
        font-size: 36px;
    }
    .container-pading{
        padding: 70px 0 40px;
    }
    .lainer{
        margin: 0 auto 15px;
    }
    .h-p{
        font-size: 18px;
        margin-bottom: 0;
        padding: 0 0 55px;
    }
    .row-center-p{
        width: 250px;
        padding-bottom: 25px;
        font-size: 19px;
        line-height: 23px;
    }
    .row-center-icon{
        width: 90px;
    }
    .bottom-p{
        font-size: 16px;
        padding-top: 10px;
    }
    .media{
        margin: 15px 50px;
        border-radius: 5px;
        padding: 25px;
    }
    h4{
        font-size: 22px;
    }

    .carousel{
        border-radius: 5px;
        padding: 35px 5px;
        margin: 5px 50px;
    }
    .photo{
        width: 100px;
        height: 100px;
    }
    .lef{
        width: 20px;
        left: -30px;
    }
    .rd{
        width: 20px;
    }
    h5{
        font-size: 20px;
        padding: 15px 0;
    }
    .carousel-p{
        padding: 10px 110px;
        font-size: 16px;
    }
    .block-cart{
        border-radius: 6px;
    }

    .block-cart-top{
        font-size: 20px;
        line-height: 21px;
    }
    .block-cart-h{
        font-size: 38px;
        padding: 25px 0;
    }
    .block-cart-p{
        padding-bottom: 10px;
        font-size: 18px;
    }
    .btn-cart{
        width: 190px;
        margin-bottom: 20px;
        border-radius:4px ;
        font-size: 14px;
        height: 45px;
	    line-height: 30px;
    }

    footer{
        padding: 25px 0 0;
    }
    .footer-h{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .footer-p{
        font-size: 16px;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    header{
        padding:60px 0 60px 0;
    }
    .ihone{
        background-image: url("../img/header-background.jpg");
    }
    h1,.asH1{
        padding-top: 50px;
        width: 100%;
        font-size: 50px;
    }
    .header-p{
        font-size: 21px;
        line-height: 31px;
    }
    .header-btn{
        margin: 25px auto 0;
    }
    .laner-header{
        margin: 10px auto 25px;
        width: 90px;
        height: 3px;
    }
    .btn-danger{
        height: 45px;
        padding: 0 40px;
        border-radius: 4px;
        font-size: 15px;
    }
    .navbar-brand{
        font-size: 21px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 14px;
        padding: 5px 9px 2px;
    }
    .navbar-nav{
        margin-left: 10px;
    }
    .nav-a{
        font-size: 16px;
        margin: 0 2px;
        padding: 4px 10px 3px;
    }
    .nav-a-left{
        margin-left: 0px;
    }
    h3{
        font-size: 32px;
    }
    .container-pading{
        padding: 50px 0 30px;
    }
    .lainer{
        margin: 0 auto 15px;
    }
    .h-p{
        font-size: 16px;
        margin-bottom: 0;
        padding: 0 0 55px;
    }
    .row-center-p{
        width: 220px;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 23px;
    }
    .row-center-icon{
        width: 90px;
    }
    .bottom-p{
        font-size: 16px;
        padding-top: 10px;
    }
    .media{
        margin: 15px 30px;
        border-radius: 5px;
        padding: 25px;
    }
    h4{
        font-size: 18px;
    }

    .carousel{
        border-radius: 5px;
        padding: 35px 5px;
        margin: 5px 30px;
    }
    .photo{
        width: 100px;
        height: 100px;
    }
    .lef{
        width: 20px;
        left: -30px;
    }
    .rd{
        width: 20px;
    }
    h5{
        font-size: 20px;
        padding: 15px 0;
    }
    .carousel-p{
        padding: 10px 110px;
        font-size: 16px;
    }
    .block-cart{
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .block-cart-top{
        font-size: 20px;
        line-height: 21px;
    }
    .block-cart-h{
        font-size: 38px;
        padding: 25px 0;
    }
    .block-cart-p{
        padding-bottom: 10px;
        font-size: 18px;
    }
    .btn-cart{
        width: 190px;
        margin-bottom: 20px;
        border-radius:4px ;
        font-size: 14px;
        height: 45px;
	    line-height: 30px;
    }

    footer{
        padding: 25px 0 0;
    }
    .footer-h{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .footer-p{
        font-size: 16px;
    }
}
@media (min-width: 577px) and (max-width: 767px){
    .navbar-toggler{
        float: right;
        position: absolute;
        right: 2px;
    }
    header{
        padding:50px 0 50px 0;
    }
    .ihone{
        background-image: url("../img/header-background.jpg");
    }
    h1,.asH1{
        padding-top: 50px;
        width: 100%;
        font-size: 46px;
    }
    .header-p{
        font-size: 18px;
        line-height: 26px;
    }
    .header-btn{
        float: left;
        margin: 15px auto 0;
    }
    .laner-header{
        margin: 10px auto 25px;
        width: 90px;
        height: 3px;
    }
    .btn-danger{
        height: 45px;
        padding: 0 40px;
        border-radius: 4px;
        font-size: 15px;
    }
    .navbar-brand{
        font-size: 21px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 14px;
        padding: 5px 9px 4px;
    }
    .navbar-nav{
        text-align: center;
        margin-left: 10px;
        width: 100%;
    }
    .nav-a{
        float: none;
        font-size: 16px;
        margin: 0 2px;
        padding: 4px 10px 3px;
    }
    .nav-a-left{
        float: none;
        margin-left: 0px;
    }
    h3{
        font-size: 28px;
    }
    .container-pading{
        padding: 30px 0 20px;
    }
    .lainer{
        margin: 0 auto 15px;
    }
    .h-p{
        font-size: 16px;
        margin-bottom: 0;
        padding: 0 0 55px;
    }
    .row-center-p{
        width: 160px;
        padding-bottom: 5px;
        font-size: 16px;
        line-height: 23px;
    }
    .row-center-icon{
        width: 90px;
    }
    .bottom-p{
        font-size: 16px;
        padding-top: 10px;
    }
    .media{
        margin: 15px 15px;
        border-radius: 5px;
        padding: 25px;
    }
    h4{
        font-size: 16px;
    }

    .carousel{
        border-radius: 5px;
        padding: 25px 5px;
        margin: 5px 15px;
    }
    .photo{
        width: 100px;
        height: 100px;
    }
    .lef{
        width: 20px;
        left: -30px;
    }
    .rd{
        width: 20px;
    }
    h5{
        font-size: 20px;
        padding: 15px 0;
    }
    .carousel-p{
        padding: 10px 70px;
        font-size: 16px;
    }
    .block-cart{
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .block-cart-top{
        font-size: 20px;
        line-height: 21px;
    }
    .block-cart-h{
        font-size: 38px;
        padding: 25px 0;
    }
    .block-cart-p{
        padding-bottom: 10px;
        font-size: 18px;
    }
    .btn-cart{
        width: 190px;
        margin-bottom: 20px;
        border-radius:4px ;
        font-size: 14px;
        height: 45px;
	    line-height: 30px;
    }

    footer{
        padding: 25px 0 0;
    }
    .footer-h{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .footer-p{
        font-size: 16px;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        background-image: url("../img/header-background.jpg");
        padding-bottom: 20px;
        width: 100%;

    }
}
@media (min-width: 320px) and (max-width: 576px){
    .economy-row {
        top: 0 !important;
        margin-bottom: 1rem !important;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        right: 0;
        top: 55px;
        background-image: url("../img/header-background.jpg");
        padding-bottom: 20px;
        width: 100%;
    }
    .navbar-toggler{
        float: right;
        position: absolute;
        right: 2px;
    }
    header{
        padding:50px 0 50px 0;
    }
    .ihone{
        background-image: url("../img/header-background.jpg");
    }
    h1,.asH1{
        padding-top: 50px;
        width: 100%;
        font-size: 38px;
    }
    .header-p{
        font-size: 18px;
        line-height: 26px;
    }
    .header-btn{
        float: left;
        margin: 15px auto 0;
    }
    .laner-header{
        margin: 10px auto 25px;
        width: 90px;
        height: 3px;
    }
    .btn-danger{
        height: 45px;
        padding: 0 20px;
        border-radius: 4px;
        font-size: 15px;
    }
    .navbar-brand{
        font-size: 21px;
        margin-left: 9px;
    }
    .navbar-nav > .nav-item > .nav-link{
        font-size: 14px;
        padding: 5px 9px 6px;
    }
    .navbar-nav{
        width: 100%;
        text-align: center;
        margin-left: 10px;
    }
    .nav-a{
        float: none;
        font-size: 16px;
        margin: 0 2px;
        padding: 4px 10px 3px;
    }
    .nav-a-left{
        float: none;
        margin-left: 0px;
    }
    h3{
        font-size: 26px;
        padding: 3px 25px;
    }
    .container-pading{
        padding: 30px 0 20px;
    }
    .lainer{
        margin: 0 auto 15px;
    }
    .h-p{
        font-size: 16px;
        margin-bottom: 0;
        padding: 0 25px 55px;
    }
    .row-center-p{
        width: 100%;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 23px;
    }
    .row-center-icon{
        width: 90px;
    }
    .bottom-p{
        font-size: 16px;
        padding: 10px 20px 0;
    }
    .media{
        margin: 10px 20px;
        border-radius: 5px;
        padding: 15px;
    }
    h4{
        font-size: 16px;
    }

    .carousel{
        border-radius: 5px;
        padding: 25px 5px;
        margin: 5px 0px;
    }
    .photo{
        width: 80px;
        height: 80px;
    }
    .lef{
        width: 15px;
        left: -30px;
    }
    .rd{
        width: 15px;
    }
    h5{
        font-size: 20px;
        padding: 5px 0;
    }
    .carousel-p{
        padding: 10px 40px;
        font-size: 14px;
    }
    .block-cart{
        border-radius: 6px;
        margin: 10px 0;
    }

    .block-cart-top{
        font-size: 20px;
        line-height: 21px;
    }
    .block-cart-h{
        font-size: 36px;
        padding: 35px 0 5px;
    }
    .block-cart-p{
        padding-bottom: 10px;
        font-size: 18px;
    }
    .btn-cart{
        width: 190px;
        margin-bottom: 20px;
        border-radius:4px ;
        font-size: 14px;
        height: 45px;
	    line-height: 30px;
    }
.block-cart-col{
    padding: 0 45px;
}
    footer{
        padding: 25px 0 0;
    }
    .footer-h{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .footer-p{
        font-size: 16px;
    }
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
* {
    padding: 0;
    margin: 0;
}
* {
    outline: 0 !important;
}

.has-error {
    color: #c96a6a;
}
a:active, a:focus { outline: none; }
a:active, a:focus { outline: none; }
.btn-danger:focus, .btn-danger.focus {
    box-shadow: none;
}
.btn:focus, .btn.focus {
    box-shadow: none;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
}
.block-plus{
    padding: 50px 0;
}
.block-plus-titel{
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.block-plus-p{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
.block-plus-section{
    border-radius: 4px;
    border: 1px solid #b8b8b8;
    min-height: 450px;
    padding: 30px;
    margin-bottom: 30px;
}
.block-plus-section-top{
    height: 120px;
}
.block-plus-section-img{
    margin-top: 8px;
    width: 60px;
    vertical-align: top;
}
.block-plus-section-titel{
    vertical-align: top;
    font-size: 28px;
    display: inline-block;
    width: 370px;
    margin-left: 25px;
}
.block-plus-section-content-h{
    font-size: 24px;
}
.block-plus-section-content-ul{
    font-size: 24px;
    margin: 0;
    padding-left: 25px;
}

.block-plus-section-background{
    background: #0FA74D;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    color: #fff;
    min-height: 630px;
}
.block-plus-section-background-img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.block-plus-section-background-h{
    font-size: 18px;
    margin-bottom: 0;
    padding: 22px;
    min-height: 150px;
}
.block-plus-section-background-p{
    font-size: 16px;
    margin-bottom: 0;
    padding: 0 25px 25px;
}
.pulse-button{
    box-shadow:0 0 0 0 #dc4343, inset 0 0 0 #dc4343;
    background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #dc4343), color-stop(100%, #dc4343));
    background-image:-webkit-linear-gradient(#dc4343 , #dc4343);
    background-image:-moz-linear-gradient(#dc4343 , #dc4343);
    background-image:-o-linear-gradient(#dc4343 , #dc4343);
    background-image:linear-gradient(#dc4343 , #dc4343);
    cursor:pointer;
    -webkit-animation: pulse-button 1s infinite cubic-bezier(0.6, 0, 0, 1)
}
@-webkit-keyframes pulse-button{
    to{
        box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 0 0 #e9abab;!important;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .block-plus{
        padding: 40px 0;
    }
    .block-plus-titel{
        font-size: 34px;
        margin-bottom: 30px;
    }
    .block-plus-p{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .block-plus-section{
        min-height: 430px;
        padding: 25px;
        margin-bottom: 30px;
    }
    .block-plus-section-top{
        height: 100%;
    }
    .block-plus-section-img{
        margin-top: 8px;
        width: 55px;
    }
    .block-plus-section-titel{
        font-size: 26px;
        width: 320px;
        margin-left: 20px;
    }
    .block-plus-section-content-h{
        font-size: 22px;
    }
    .block-plus-section-content-ul{
        font-size: 22px;
        padding-left: 25px;
    }

    .block-plus-section-background{
        min-height: 590px;
    }
    .block-plus-section-background-h{
        font-size: 17px;
        padding: 15px 10px;
        min-height: 150px;
    }
    .block-plus-section-background-p{
        font-size: 15px;
        margin-bottom: 0;
        padding: 0 15px 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .block-plus{
        padding: 30px 0;
    }
    .block-plus-titel{
        font-size: 28px;
        margin-bottom: 25px;
    }
    .block-plus-p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .block-plus-section{
        min-height: 370px;
        padding: 20px;
        margin-bottom: 25px;
    }
    .block-plus-section-top{
        height: 100%;
    }
    .block-plus-section-img{
        margin-top: 8px;
        width: 50px;
    }
    .block-plus-section-titel{
        font-size: 24px;
        width: 230px;
        margin-left: 15px;
    }
    .block-plus-section-content-h{
        font-size: 18px;
    }
    .block-plus-section-content-ul{
        font-size: 18px;
        padding-left: 25px;
    }

    .block-plus-section-background{
        min-height: 500px;
        margin-bottom: 25px;
    }
    .block-plus-section-background-h{
        font-size: 17px;
        padding: 15px 10px;
        min-height: 90px;
    }
    .block-plus-section-background-p{
        font-size: 15px;
        margin-bottom: 0;
        padding: 0 15px 15px;
    }
}
@media  (max-width: 767px){
    .block-plus{
        padding: 25px 0;
    }
    .block-plus-titel{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .block-plus-p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .block-plus-section{
        min-height: 320px;
        padding: 20px;
        margin: 10px 0;
    }
    .block-plus-section-top{
        height: 100%;
    }
    .block-plus-section-img{
        margin-top: 8px;
        width: 50px;
    }
    .block-plus-section-titel{
        font-size: 20px;
        width: 180px;
        margin-left: 10px;
    }
    .block-plus-section-content-h{
        font-size: 16px;
    }
    .block-plus-section-content-ul{
        font-size: 16px;
        padding-left: 25px;
    }

    .block-plus-section-background{
        min-height: auto;
        margin: 10px 0;
    }
    .block-plus-section-background-h{
        font-size: 17px;
        padding: 15px 10px;
        min-height: 90px;
    }
    .block-plus-section-background-p{
        font-size: 15px;
        margin-bottom: 15px;
        padding: 0 15px 15px;
    }
}


/*.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 0px;
}*/

#mouseOutModal.popup-modal .submit-button {
    display: block;
    width: 100%;
    background-color: #dd4141;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 15px;
    line-height: 30px;
}

#mouseOutModal.popup-modal p {
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}

#mouseOutModal.popup-modal p.large-promo-text {
    font-size: 34px;
    color: rgb(92, 183, 92);
    font-weight: bold;
    line-height: 34px;
}

#mouseOutModal.popup-modal .gift-icon-wrap {
    color: rgb(92, 183, 92);
    font-size: 80px;
}

#mouseOutModal input[type="text"], #mouseOutModal input[type="password"] {
    text-align: center;
}

@media screen and (max-width: 768px){
    #sticky-button.sticky {
        position: fixed;
        bottom: 2em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1234;
    }
}
