<footer class="text-center text-white" style="background-color: white; color: black; box-shadow: inset 0 -1px 0 0 #eee;">
	<div class="container p-4 pb-0">
		<section class="mb-4">
			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-facebook"></i></a>

			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-twitter"></i
			></a>

			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-google"></i
			></a>

			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-instagram"></i
			></a>

			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-linkedin"></i
			></a>

			<a class="btn btn-outline-dark m-1" href="#!" role="button"
			><i class="bi bi-github"></i
			></a>
		</section>
	</div>

	<div class="text-center p-3" style="color: black;">
		© 2020 Copyright:
		<a style="color: black;" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
</footer>
