<footer>
	<p class="footer-h">Instagram Parser</p>
	<p class="footer-p">© 2022 Insta-Parser. All rights reserved.</p>
	<div id="header-contacts">
		<div class="table">
			<div class="table-row">
				<div class="table-cell table-cell-phone">
					<i class="white bi bi-phone"></i>
					<a class="phone_number white" href="tel:+7 (499) 444-13-20">+7 (499) 444-13-20</a>
				</div>
				<div class="table-cell table-cell-email">
					<i class="white bi bi-envelope"></i>
					<a class="white" href="mailto:support@insta-parser.ru">support@insta-parser.ru</a>
				</div>
				<div class="table-cell table-cell-address white">
					<i class="bi bi-pin-map-fill white"></i>
					Пресненская наб., 12, БЦ, Москва, 123317
				</div>
			</div>
		</div>
	</div>
</footer>