<div class="container container_center" style="color:black;">
	<div class="content_stage"><h3 class="content_stage-title">Шаг 2: Процесс сбора аккаунтов. Дождитесь его окончания
		или остановите вручную</h3>
		<div class="block-account-collection"><p class="block-account-collection-p_top"><!-- react-text: 389 -->Сбор по
			конкурентам выполняется<div class="spinner-border text-primary mx-2" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
			<br>
			<p class="block-account-collection-label">Аккаунтов собрано</p>
			<div class="block-account-collection_total">0</div>
		</div>
		<br><br>
		<a class="btn block-account-collection_btn btn-primary" href="?stage=1">Остановить сбор</a>
		<a class="btn block-account-collection_btn btn-primary" href="?stage=3">3й этап</a>
	</div>
</div>
