<div class="container container_center" style="color:black;">
	<div class="content_stage"><h3 class="content_stage-title">Шаг 3: Выгрузите данные</h3>
		<br><br>
		<div class="block-account-collection content_stage-pl-pr"><p class="block-account-collection-p_top">Выгрузка
			собранной базы</p>
			<p class="block-account-collection-label block-account-collection-label_inline-block">База
				аккаунтов: 0
			</p>
			<a href="?stage=1" class="btn btn_ml-mr btn-primary">Начать новый сбор</a>
			<button type="button" class="btn btn_ml-mr btn-primary ">Сохранить</button>
		</div>
	</div>
</div>
