{%extends 'base.html'%}

{%block content%}
<h1>Задачи</h1>
<table>
  <tr>
    <th>Задача</th>
    <th>Завершено</th>
    <th>Дата</th>
  </tr>
  {%for task in tasks%}
  <tr>
    <td><a href="{%url 'main_app:task_result' task.pk%}">{{task}}</a></td>
    <td>{%if task.completed%}Да{%else%}Нет{%endif%}</td>
    <td>{{task.timestamp}}</td>
  </tr>
  {%endfor%}
</table>
<a href="{%url 'main_app:create_task_subs'%}">Создать новую задачу subs</a>
<a href="{%url 'main_app:create_task_likes'%}">Создать новую задачу likes</a>
{%endblock%}